/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  font-size: 100%; 
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}  

header {
	height:215px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default	{
	background-color: #000;
}

ul#tabs { 
	list-style-type: none; 
	margin: 2px 2px 2px 2px; 
	padding: 2px 2px 0px 2px; 
}

ul#tabs li { 
	display: inline; 
}

ul#tabs li a { 
	color: #9d9d9d;
	background-color: #000; 
	border: 0px solid #000; 
	border-bottom: none; 
	padding: 2em; 
	text-decoration: none; 
}

ul#tabs li a:hover { 
	background-color: #f1f0ee; 
}

ul#tabs li a.selected { 
	color: #000; 
	background-color: #f1f0ee; 
	font-weight: bold; 
	padding: 2.0em 2.0em 2.0em 2.0em; 
}

div.tabContent { 
	border: 0px solid #c9c3ba; 
	padding: 0.5em; 
	background-color: #f1f0ee; 
}

div.tabContent.hide { 
	display: none; 
}

ul.nav, .jumbotron h1  {
	font-family: 'Ubuntu', sans-serif;
}


#back-to-top{
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#back-to-top a{
	color: #333;
}

.jumbotron{
	color: red;
    height: 150px;
	margin-bottom: 5px;
    background: transparent;
}

.jumbotron h1, h3{
	text-align: left;
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

ul.nav {
	font-size: 13px
}

footer {
	background-color: #000000;
	padding-top: 150px;
	padding-bottom: 30px;
}

#resume_title{
	text-align: center;
}

#resume_education h1 h2 h3 h4 p{
	text-align: left;
}

.modalDialog{
	position: fixed;
	overflow: scroll;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-mod-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog img{
  	margin-top: 10px;
}



.modalDialog p{
	margin-top: 10px;
	font-size: 18px;
	text-align: justify;
} 

.modalDialog:target{
	opacity: 1;
	pointer-events: auto;
}
/*modal window styling*/
.modalDialog > div {
	width: 1000px;
	position:relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close{
	background: #ff0000;
	color: #000000
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-border-radius: 12px
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover{background: #ff0000;}

/*Responsive Styling*/
/*Medium*/
@media (max-width: 1200px) {
  .jumbotron h1 {
    font-size: 56px;
    padding: 30px;
  }
}
/*Small*/
@media (max-width: 991px) {
  .jumbotron{
  	background-size: cover;
  }

  .jumbotron h1 {
    font-size: 44px;
  }
  .jumbotron p {
    padding: 0 10px;
  }
  
  .modalDialog > div {
  	width: 80%; 	
  }

  .modalDialog p{
  	font-size: 12px;
  }

}
/*Extra Small*/
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }
  .btn-lg {
    font-size: 18px;
  }
  .homepage p{
    font-size: 18px;
  }
  .modalDialog p{
  	font-size: 12px;
  }

  #nav.affix {
    position: static;
    top: 0;
    width: 100%;
    z-index:10;
}

  footer img {
    width: 80%;
  }
}

