/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  font-size: 80%; 
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}  

ul#tabs { 
	list-style-type: none; 
	margin: 30px 0 0 0; 
	padding: 0 0 0.3em 0; 
}

ul#tabs li { 
	display: inline; 
}

ul#tabs li a { color: #42454a; 
	background-color: #dedbde; 
	border: 1px solid #c9c3ba; 
	border-bottom: none; 
	padding: 0.3em; 
	text-decoration: none; 
}

ul#tabs li a:hover { 
	background-color: #f1f0ee; 
}

ul#tabs li a.selected { 
	color: #000; 
	background-color: #f1f0ee; 
	font-weight: bold; 
	padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.tabContent { 
	border: 1px solid #c9c3ba; 
	padding: 0.5em; 
	background-color: #f1f0ee; 
}

div.tabContent.hide { 
	display: none; 
}

ul.nav, .jumbotron h1  {
	font-family: 'Ubuntu', sans-serif;
}

.navbar-inverse {
	background-color: #000000;
	opacity: .8;
}

#get-involved{
	background-color: #ff0000;
}

#back-to-top{
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#back-to-top a{
	color: #333;
}

.jumbotron{
	text-align: left;
	background-image: url("../images/seattleskyline.jpg");
	color: white;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

ul.nav {
	font-size: 13px
}

footer {
	background-color: #000000;
	padding-top: 150px;
	padding-bottom: 30px;
}

.btn-lg{
	font-size:36px;
	background-color: #ff0000;
}

.homepage{
	text-align: center;
	padding-top: 30px
	padding-bottom: 30px;
}

.homepage h3, .homepage h2{
	text-transform: uppercase;
	font-family: 'Arvo', courier, serif;
	color: #ff0000;
}

.homepage h2{	
	font-size: 30px;
}

.homepage h3{
	font-size: 26px;
}

.homepage p{
	font-weight: 300;
	font-size: 21px;
}

.homepage a{
	color: #ff0000;
}

.homepage a:hover{
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage hr{
	border-top: 1px solid #e74c3c;
	width: 160px;
	margin-top: 15px; 
}


.modalDialog{
	position: fixed;
	overflow: scroll;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-mod-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog img{
  	margin-top: 10px;
}


#background {
	text-align: justify;
}

#background h3, h4{
	text-align: center;
}

.modalDialog p{
	margin-top: 10px;
	font-size: 18px;
	text-align: justify;
} 

.modalDialog:target{
	opacity: 1;
	pointer-events: auto;
}
/*modal window styling*/
.modalDialog > div {
	width: 1000px;
	position:relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close{
	background: #ff0000;
	color: #000000
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-border-radius: 12px
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover{background: #ff0000;}

/*Responsive Styling*/
/*Medium*/
@media (max-width: 1199px) {
  .jumbotron h1 {
    font-size: 56px;
    padding: 30px;
  }
}
/*Small*/
@media (max-width: 991px) {
  .jumbotron h1 {
    font-size: 44px;
  }
  .jumbotron p {
    padding: 0 10px;
  }
  #get-involved .col-md-4 .col-md-6 .col-md-3{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .modalDialog > div {
  	width: 80%; 	
  }

  .modalDialog p{
  	font-size: 12px;
  }

  .gmap{
  	width: 80%;
  }

  .ppic{
  	width: 80%;
  }
}
/*Extra Small*/
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }
  .btn-lg {
    font-size: 18px;
  }
  .homepage p{
    font-size: 18px;
  }
  .modalDialog p{
  	font-size: 12px;
  }

  footer img {
    width: 80%;
  }
}

