<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<h1><strong>HEY! I'M WILLIAM GEORGE</strong></h1>
			<img class="img-fluid" src="/images/iceCaves.jpg" alt="Ice Caves" align="right">
			<h4>Computer Science Graduate, MBA Graduate, Cell and Molecular Biology Graduate, Psychology Graduate, Military Brat, Husky, Small Business Owner, Professional Strength Coach, Landscape Photographer, Minimalistic World Traveller, and Outdoor Enthusiast</h4>
			<br>
		
			<!--Who Am I-->
			<h5>As you can see I've worn a lot of hats throughout my personal and professional life
			This is because of my passion for personal growth and the understanding that growth only comes from challenging oneself. I've been a life-long learner with over 12 years of post high school education, earning 3 Bachelor Degrees and an MBA with a concentration on Information Manangement Systems. As such a lot of things can define who I am, too much to fit on any sort of resume. My journey has been a long one but each step has led me to the next.</h5> 

			<h5>However the purpose of this page is not to tell you who I am or where I came from, rather, it's to show you where I'm going next.</h5>
			</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">	
			<!--What I'm working on right now-->
			<h3> <strong>WHAT I'M WORKING ON NOW</strong> </h3>
			<!--In Tech-->
			<hr>
			<h4><em>In Tech...</em></h4>
			<p>As an upcoming Computer Science Graduate from Oregon State University the importance of continuing education has never been more apparent. While the program outlined the most important aspects of Computer Science, the field changes so quickly that it can be hard to keep up if you let your guard down for a second. From my first exposure to programming in Grad School back in 2011 to today so much has changed. As such I've taken it upon myself to work on personal projects and certifications to better understand the ever-changing technological landscape </p>
			<p>I've developed a special fascination with distributed computing models and the science behind them. Because of this fascination I've been focused on understanding the tools available to developers through AWS.</p> 
			<h5>As such I'm working on the following certifications:</h5>
				<ul>
					<li>AWS Certified Developer</li>
					<li>AWS Certified Solutions Architect</li>
				</ul>

			<h5>Current Projects</h5>
			<p>I'm working on several small things right now, specifically:</p>
			<ul>
				<li>A Flash Card Application including the following features:</li>
					<ul>
						<li>A .CSV to .JSON converter built in Python to easily move flash card info into a usable JSON file</li>
						<li>An (interface dependent) input mode for incorrect answers so they are run through again</li>
						<li>A file storage tool like S3 to drop CSV files into for conversion into usable flash cards</li>
						<li>A Web based Interface with ReactJS</li>
						<li>Android and iOS Interfaces</li>
					</ul>
				<li>Completing the PinchTest Web Interface</li>
				<li>Making this site more robust by adding:</li>
				<ul>
					<li>A NoSQL backend using DynamoDB and date keys for tech and fitness blog posts</li>
					<li>An templating mode for sharing photos to the photography page</li>
					<li>Facebook based commenting for blog posts</li>
				</ul>
			</ul>
			<h5>To see more of what I'm working on or learning check out my <a href="/tech" title="tech_blog">Tech Blog</a> where I'll go over a variety of different things that interest me</h5>
			<hr>
			<!--In Fitness-->
			<h4><em>In Fitness...</em></h4>
			<p>I've been a working in the Fitness industry for over 10 years spending time with hundreds of people all with different strengths and weaknesses. As such each person should be handled differently to a degree to overcome those differences and address the weaknesses. Weakness can come in many forms including an inability to perform a task due to inflexibility, a need to overcoming muscular imbalances to reach strength goals or adjusting one's lifestyle to reach aesthetic goals.</p>  

			<p>Staying relevant in an industry with so much fluctuation can be difficult, and you need to be able to adjust at any given moment. Like working in Software Development, a trainer needs to be constantly challenging themselves to learn and accept new ideas. It takes a lot of personal experimentation to see what works well and at times clients and the trainer him/herself can turn into test subjects for the unknown.</p>
				
			<h5>Current Focus</h5>
			<!--In Personal-->
			<p>Due to other obligations my personal fitness goals have been put on hold for a while. My main focus has been form and maintenance of strength, while I'm not improving because I'm sticking to the same program I've gotten to a place where I've managed to get leaner by manipulating my diet and maintain my strength. But things will be changing soon...</p>
			<p>Now that hiking season has ended and we are slowly moving towards winter there is a tendency for people to get more sedentary. That paired with all the extra calories to be consumed in the form of holiday treats and drinks means more work needs to be done to achieve balance. I'm also focusing on conditioning for snowboard season so I've added a couple higher volume conditioning days to my routine in place of heavy leg work</p>
			<h5>To read more about my training style or get fitness/nutrition tips check out my <a href="/fitness" title="fitness_blog">Fitness Blog</a>. You can also check out <a href="v2fit.com" title="fitness_blog">My Personal Training Site</a> to learn more.</h5>
			<br>
		</div>
	</div>
</div>




