<div id="contact">
	<div class="col-sm-12">
		<h2 style="text-align: left"><strong>CONTACT ME</strong></h2>
			<h3>Phone: 1-(360)-509-1348</h3>
			<h3>Email:<a href="mailto:wgeorge@outlook.com"> wgeorge@outlook.com</a></h3>
			<h3>GitHub:<a href="https://github.com/VisVires"> Will's GitHub Account</a></h3>
			<h3>Instagram: <a href="https://instagram.com/visviresvita">@ visviresvita</a></h3>
	</div>
</div>		