<div id="photography">
	<div class="col-sm-8">
		<h2 style="text-align: left"><strong>MY PHOTOGRAPHY</strong></h2>
		{{#each photo}}
		<img class="img-fluid" src="{{this}}" alt="{{this}}">
		{{/each}}
		 <div class="fb-comments" data-href="https://www.williamgeorge.me/photography" data-numposts="5"></div>
	</div>
	<div class="col-sm-4">
	</div>
</div>