<div id="projects">
	<div class="col-sm-12">
		<h2 style="text-align:left"><strong>NOTABLE PROJECTS</strong></h2>
		<hr class="style3">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<h3><strong> PinchTest Application </strong></h3> 
						<h4><a href="https://github.com/VisVires/PinchTest">GitHub Link</a></h4>
						<ul class="bullets">
							<li>Android Application built using Android SDK that uses OKHttp and AppAuth to communicate with API</li>
							<li>RESTful API built in Python and hosted on Google App Engine, Web and iOS interfaces currently under construction</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3><strong> FTP Server and Client</strong></h3>
						<h4><a href="https://github.com/VisVires/FTP_Server-Client">GitHub Link</a></h4>
						<ul class="bullets">
							<li>FTP server built in C with ability to send files to client as well as directory contents through sockets</li>
							<li>Simple FTP client constructed with Python that can request server directory as well as individual files</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3><strong> Unity 2D Tower Defense </strong></h3> 
						<h4><a href="https://github.com/VisVires/UnityTowerDefense">GitHub Link</a></h4>
						<ul class="bullets">
							<li>Tower Defense Game built using C# and the Unity game engine</li>
							<li>Created Procedural Path/Map Generation Algorithm based on Conways Game of Life</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3><strong> How To Guide </strong></h3> 
						<h4><a href="https://github.com/VisVires/HowToGuide">GitHub Link</a></h4>
						<ul class="bullets">
							<li>NodeJS Application built to explain how to do server side analytics using universal analytics and the Google Analytics API</li>
							<li>Templating: handlebars.js, CSS3: Bootstrap, Framework: Node.js express, Task Management: Grunt</li>
							<li>Originally hosted on AWS EC2 Instance and will rehost and supply url at request</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div> <!--column-->
</div>